* {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    box-sizing: border-box;
}
body {
    background-size: cover;

    background-repeat: no-repeat;
}
.card {
    width: 50%;
    max-width: 80%;
    background: linear-gradient(#e66465, #9198e5);
    color: #000000;
    margin: 40px auto 0;
    border-radius: 50px;
    padding: 40px 20px;
    text-align: center;
}
.card-blue-gradient {
    background: linear-gradient(#6926dc, #c316a3);
}
.search-bar input {
    border: 0;
    outline: 0;
    background: #ececec;
    color: #764b4b;
    padding: 20px 25px;
    height: 50px;
    border-radius: 40px;
    flex: 1;
    margin-right: 10px;
    font-size: 18px;
}
.search-bar button {
    border: 0;
    outline: 0;
    background: #ececec;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.weather-icon {
    width: 150px;
    margin-top: 30px;
}
.weather h1 {
    font-size: 50px;
    font-weight: 500;
}
.weather h2 {
    font-size: 50px;
    font-weight: 400;
    margin-top: -10px;
}
.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px -5px;
    margin-top: 30px;
}
.col {
    display: flex;
    align-items: center;
    text-align: left;
}
.col img {
    width: 60px;
    margin-right: 20px;
}
.humidity,
.wind {
    font-size: 40px;
    margin-top: -10px;
}

.weather {
    display: none;
}
.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
i {
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    top: 13%;
    left: 70%;
    transform: translate(-25%, -45%);
}
.date {
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}
